@font-face {
    font-family: msc; /* Гарнитура шрифта */
    src: url(../fonts/MuseoSansCyrl.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: msc0; /* Гарнитура шрифта */
    src: url(../fonts/MuseoSansCyrl_0.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: msc1; /* Гарнитура шрифта */
    src: url(../fonts/MuseoSansCyrl_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: msc2; /* Гарнитура шрифта */
    src: url(../fonts/MuseoSansCyrl_2.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: msc3; /* Гарнитура шрифта */
    src: url(../fonts/MuseoSansCyrl_3.otf); /* Путь к файлу со шрифтом */
}
body{
	font-family: msc;
	font-size: 14px;
}
.title{
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
}
section{
    padding: 90px 0 100px;
    font-size: 1.6em;
}
a{
	font-family: msc0;
	color: #1c8db8;
}
a:hover{
	color: #416488;	
}
a:focus, a:active{
	color: #48cdff;
}
a:hover, a:focus, a:active{
	text-decoration: none;
}
input:not([type="submit"]), textarea{	
	border: 1px solid #c8c8c8;
	padding: 7px 15px;
	font-size: 16px;
	width: 320px;
}
input:not([type="submit"]){
	border-radius: 20px;
	height: 40px;
}
textarea{
	border-radius: 5px;
	resize: none;
	height: 140px;
}
input:focus, textarea:focus{
	border-color: #335980;
	outline: none;
}
input:not([type="submit"]).invalid, textarea.invalid{
	border-color: #ffa8a8;
}
input[type="submit"]{
	display: block;
	width: 172px;
	height: 36px;
	border-radius: 18px;
	line-height: 36px;
	border: 1px solid #1c8db8;
	background-color: #1c8db8;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.btn{
	min-width: 175px;
	height: 48px;
	border-radius: 24px;
	font-family: msc1;
	font-size: 1em;
	padding: 0 15px;
	text-transform: uppercase;
	border: 1px solid #335980;
	color: #335980;
	background-color: transparent;
	line-height: 48px;
}
.btn:hover{
	color: #fff;
	background-color: #335980;
}
.btn:active{
	background-color: #5c7a99;
	border-color: #5c7a99;
	color: #fff;
	
}
.btn:active, .btn:focus, .btn:active:focus{
	outline: none;
}
@media(max-width: 991px){
    .title{
        font-size: 3em;
    }
    .text-center-sm{
    	text-align: center;
    }
}
@media(max-width: 768px){
	.title{
        font-size: 2em;
        margin-bottom: 15px;
    }
	.text-center-xs{
		text-align: center;
	}
}
/*** header  ***/

header, footer{	
	background-color: #000f2c;
}
.logo, .header-content{
	height: 125px;
	padding-top: 11px; 
}
.etc {
	float: right;
}
.etc span, .etc .lang{
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	line-height: 30px;
	margin-left: 17px;	
}
.etc span:not(:last-child){
	margin-right: 17px;
}
.etc span.tel{	
	font-family: msc1;
}
.etc span.tel img{
	padding-right: 15px;
}
.lang{
	display: inline-block;
	border: none;
	background: transparent;
	padding: 0;
}
.lang:active, .etc .lang:focus{
	outline: none;
	border: none;
}

.lang ul{
	padding: 0;
	margin: 0;
}
.lang ul > li{
	list-style: none;
}
.lang > ul > li > a{
	color: #fff;
}
.lang .dropdown-menu{
	top: 0%;
	min-width: unset;
	width: 68px;
	height: 79px;
	border-radius: 4px;
	padding: 3px 0;
}
.lang .dropdown-menu > li{
	padding: 0px;
}
.lang .dropdown-menu > li > a{
	color: #434e63;
	padding: 8px 20px;
}
.lang .dropdown-menu > li > a:hover, .lang .dropdown-menu > li > a:focus{
	background-color: #434e63;
	color: #fff;
}
.lang .dropdown-menu > li > a img{
	display: none;
}
.navigation{
	margin-top: 25px;
}
.navigation .btn, footer .btn, .modal-content .btn{
	display: block;
	width: 172px;
	height: 36px;
	border-radius: 18px;
	float: right;
	line-height: 36px;
	border-color: #1c8db8;
	color: #1c8db8;
}
.navigation .btn:hover, footer .btn:hover, .modal-content .btn:hover{
	background-color: #1c8db8;
	color: #fff;
}
.menu{
	padding: 0;
}
.menu > ul{
	padding: 0;
	margin: 0;
}
.menu > ul > li{
	display: inline-block;
	list-style: none;
	padding: 15px;
}
.menu > ul > li > a{
	color: #fff;
	text-transform: uppercase;
}
.menu > ul > li > a:hover, .menu > ul > li > a.active{
	color: #1c8db8;
}

.collapsed-menu ul{
	width: 100%;
}
.collapsed-menu ul > li{
	text-align: center;
}
.collapsed-menu ul > li > a{
	color: #1c8db8;
}
.collapsed-menu ul > li > a:hover{
	color: #000f2c;
}
.collapsed-menu .btn{
	float: unset;
	margin-left: calc(50% - 172px / 2);
}
.menu-collapsed{
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 3em;
	float: right;
}
@media(max-width: 1199px){
	.menu > ul > li{
		padding: 15px 7px;
	}
}
@media(max-width: 991px){
	.logo, .etc{
		text-align: center;
	}
}
@media(max-width: 768px){
	.logo, .etc{
		float: unset;
	}
	.header-content{
		padding-top: 0;
	}
	.etc span, .etc .lang{
		margin-left: 10px;
	}
	.etc span:not(:last-child){
		margin-right: 10px;
	}
}
/*** end of header ***/



/*** footer  ***/

footer .logo{
	line-height: 140px;
}
footer .content ul{
	padding: 20px 0;
}
footer .content ul > li{
	list-style: none;
	line-height: 36px;
}
footer .content ul > li > a{
	color: #fff;
}
footer .content span, footer .content span a{
	display: block;
	color: #fff;
}
footer .content span.tel{
	font-size: 1.6em;
	margin-top: 1.2em;
}
footer .content span.link{
	margin-top: 1em;
}
footer .btn{
	float: none;
}
.footer-top{
	border-bottom: 1px solid #1a2742;
	padding: 70px 0 40px;
}
.footer-bottom{
	padding: 0;
}
@media(max-width: 768px){
	footer .btn{
		margin: 0 auto;
	}
}
/*** end of footer ***/



/** modal **/

.modal-content{
	top: 25%;
	width: 468px;
	padding: 20px 0 30px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
	color: #000;
}
.modal-content{
	margin: 0 auto;
}
.modal-body, .modal-header{
	padding: 20px 50px;
}
.modal-header .close{
	margin-right: -26px;
}
.modal-header{
	border-bottom: none;
}
.modal-title{
	font-size: 2.4em;
}
.modal.in .modal-dialog{
	-webkit-transform: translate(0,25%);
    -ms-transform: translate(0,25%);
    -o-transform: translate(0,25%);
    transform: translate(0,25%);
}

.modal-content label{
	line-height: 40px;
	margin: 0;
}
.modal-content input:not([type="submit"]){
	width: 280px;
}
.modal-content input[type="submit"]{
	margin-top: 10px;
}
.modal-content .btn{
	width: 121px;
	height: 40px;
	border-radius: 20px;
	float: left;
	min-width: 1px;
}
.modal-content a{
	line-height: 40px;
}
.modal-content .sign{
	text-align: center;
	font-size: 1.6em;
	margin-top: 30px;
}


