

/** top-slider **/

.top-slider{
    position: relative;
    padding: 0;
    font-size: 1em;
}
.top-slider.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.top-slider .item{
	height: 475px;
	position: relative;
	overflow: hidden;
}
.top-slider .item img, .advantage .block img{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);	
    width: 100%;
    height: auto;
    min-height: 100%;
}
.top-slider .content{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(77,104,130,.6);
    z-index: 1;
}
.top-slider .desc{
    height: 100%;
    color: #fff;
    padding: 140px 50px 170px;
    line-height: 4em;
    text-align: center;
}
.top-slider .title{
    margin-bottom: 0;
}
.top-slider .text{
    font-size: 1.6em;
}
.top-slider .slider-arrows{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.top-slider .slider-arrows.next{
    right: 5%;
    background: url(../img/arrow-next.png) no-repeat center transparent;
    opacity: .5;    
}
.top-slider .slider-arrows.next:hover{
    opacity: 1;
}
.top-slider .slider-arrows.prev{
    left: 5%;
    background: url(../img/arrow-prev.png) no-repeat center transparent;
    opacity: .5;
}
.top-slider .slider-arrows.prev:hover{
    opacity: 1;
}
.top-slider .slick-dots{
    bottom: 50px;
}
.top-slider .slick-dots li button:before{
    color: #fff;
    opacity: 1;

}
.top-slider .slick-dots li.slick-active button:before{
    color: #000;
    opacity: 1;
    font-size: 12px;

}
/** end of top-slider **/


/** about **/

.about{
    background-color: #d9d7dc;
    padding: 90px 0 100px;
    text-align: center;
    color: #000;
    font-size: 1em;
}
.about .content{
    padding: 0 100px;
}
.about .content .body{
    font-size: 1.25em;
}
.about .btn{
    margin-top: 50px;
}
@media(max-width: 991px){
    .about .content{
        padding: 0 15px;
    }
}

@media(max-width: 768px){
    .about{
        padding: 50px 0;
    }
    .about .content{
        padding: 0 15px;
    }
    .top-slider .desc{
        padding: 100px 15px;
    }
}

/** end of about **/

/** advantage **/

.advantage{
    font-size: 1em;
    padding-bottom: 15px
}
.advantage .block{
    height: 240px;
    position: relative;
    overflow: hidden;
    margin-bottom: 165px;
    font-size: 1.25em;
}
.advantage .block .content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
    z-index: 1;
}
.advantage .block .content:hover{
    background-color: rgba(0,15,44,.7);
    transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
}
.advantage .block .desc{
    position: absolute;
    bottom: 0;
    left: 0;   
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: msc0;
    
}
.advantage .block .desc.short{
    background: url(../img/block-text-background.png) no-repeat center transparent;
    background-size: 100% auto;
    height: 100px;
    padding: 30px 0 0;
}
.advantage .block .desc.full{
    display: none;
    height: 100%;
    padding: 50px 20px;
    font-size: 0.8em;
}
@media(max-width: 768px){
    .advantage .block{
        margin-bottom: 2em;
    }
}
/** end of advantage **/

/** investment **/

.investment{
    background-color: #d9d7dc;
    font-size: 1em;
}
.investment .block{
    position: relative;
    margin-bottom: 25px;
    font-size: 1.25em;
}
.investment .block.vip:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: url(../img/vip.png) no-repeat center transparent;
    background-size: 100% 100%;
}

.investment .content{
    height: 400px;
    text-align: center;
    border: 1px solid #303c55;
}

.investment .content-header, .investment .content-footer{
    background-color: #303c55;
    color: #fff;
    height: 70px;
    line-height: 70px;
}
.investment .content-header{
    font-family: msc1;
    font-size: 1.2em;
}
.investment .content-footer{
    font-size: .7em;
}
.investment .content-body{
    height: 260px;
    background-color: #fff;
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    color: #343434;
    padding: 25px 30px 30px;
    font-size: .7em;
}
.investment .content-body h2{
    margin-top: 0;
    font-family: msc1;
}

.investment .content-body span{
    display: block;
    margin-top: 15px;
    font-family: msc1;
}
.investment .content-body .title{
    color: #303c55;
    font-family: msc2;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1em;
}
.investment .content-body .time{
    border: 1px solid #2f5274;
    width: 112px;
    margin: 15px auto;
    line-height: 1.6em;
    color: #000;
}
.investment .block.vip .content-body{
    padding-top: 80px;
}
.investment .block.vip .content-body h2{
    font-size: 2.2em;
    font-family: msc2;
    color: #303c55;
}
.investment .block.vip .content-body span{
    display: none;
}
.investment .block.vip .content-body .time{
    display: block;
    border: none;
    width: 100%;
}
/** end of investment **/

/** questions **/
.questions{
    font-size: 1em;
}
.questions .content{
    padding: 0 100px;
}
.questions .content ul{
    padding: 0;
}
.questions .content ul > li{
    list-style: none;   
    position: relative;
    padding: 46px 0 46px 67px;
}
.questions .content ul > li:not(:last-child){
    border-bottom: 1px solid #e5e5e5;
}
.questions .content ul > li a{
    font-size: 1.5em;
    font-family: msc2;
    color: #335980;
}
.questions .content ul > li i{
    margin-right: 50px;
}
.questions .content ul > li > div{
    padding-top: 40px;
    font-size: 1.25em;
}

@media(max-width: 991px){
    .questions .content{
        padding: 0 15px;
    }
}

/** end of questions **/