.kama_breadcrumbs{
	font-size: 1em;
}
.kama_breadcrumbs > span{
	line-height: 40px;
	font-family: msc0;
	font-size: .8em;
	color: #959595;
	text-transform: uppercase;
}
.kama_breadcrumbs a{
	color: #959595;
}
.title{
	text-align: left;
	font-size: 2.2em;
	margin-bottom: 30px;
}
.support, .contact{
	font-family: msc0;
	font-size: 1.2em;
}
.support ul, .contact form{
	padding: 40px 0 0;
	font-size: 0.8em;
}
.support ul > li{
	list-style: none;	
	color: #000;	
	margin-bottom: 30px;
}
.support ul > li a{
	color: #000;
}
.support ul > li img{
	margin-right: 30px;
	width: 25px;
}
.contact form input:not(:last-child), .contact form textarea:not(:last-child){
	margin-bottom: 35px;
}
@media (max-width: 991px){
	.title{
		text-align: center;
	}
	.contact form input, .contact form textarea{
		width: 500px;
		margin: 0 auto 35px;
	}
	.contact form input[type="submit"]{
		width: 172px;
	}
}
@media (max-width: 768px){
	.contact form input, .contact form textarea{
		width: 95%;
		margin: 0 auto 35px;
	}
	.contact form input[type="submit"]{
		width: 172px;
	}
}
